<%= form_with(model: portfolio) do |form| %>
  <% if portfolio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(portfolio.errors.count, "error") %>
        prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col mb-4">
    <%= form.label :name %>
    <%= form.text_field :name, autocomplete: "off", class: "input" %>
  </div>

  <%# TODO: search form that calls controller at `search#tickers` %>

  <%# TODO: checkbox field for each result, checked if already selected %>

  <%# TODO: section that shows selected tickers w/ option to un-check %>

  <%# TODO: disabled until there's 5+ tickers selected %>
  <%= form.submit class: "btn btn-accent" %>
<% end %>
