<%= form_with(model: portfolio) do |form| %>
  <% if portfolio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(portfolio.errors.count, "error") %>
        prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-4"
    data-controller="tickers"
    data-tickers-selected-value="<%= portfolio.tickers %>"
    data-tickers-id-value="<%= portfolio.id %>"
  >
    <%# TODO: capture `Enter` presses %>
    <div data-controller="search" data-search-id-value="<%= portfolio.id %>" class="flex flex-col gap-4">
      <input type="text" data-search-target="query" data-action="debounced:input->search#tickers" placeholder="Type to search..." class="input">

      <div data-search-target="results"></div>
    </div>

    <h2 class="text-lg font-semibold">Selected Tickers</h2>
    <div data-tickers-target="selected"></div>

    <%# section that shows selected tickers w/ option to un-check %>

    <%# disabled until there's 5+ tickers selected %>

    <%# TODO: ignore `Enter` presses %>
    <%= button_tag "Save", type: "button", data: { action: "click->tickers#submit" }, class: "w-fit btn btn-accent" %>
  </div>

<% end %>
