<h2 class="pt-4 pb-2 text-xl font-semibold">Tickers</h2>

<%= form_with url: "/tickers/search" do |f| %>
  <%= hidden_field_tag :portfolio_id, portfolio.id %>
  <%= f.text_field :query,
               placeholder: "Search by ticker or company name",
               autocomplete: "off",
               class: "input" %>
  <%= f.submit "Search", class: "ml-2 btn btn-accent shrink-0" %>
<% end %>

<div id="results" class="w-full h-48">
  <div class="flex justify-center items-center w-full h-full">
    <p class="text-sm font-semibold text-base-content/50">Use the search above to find stocks.</p>
  </div>
</div>

<h2 class="pt-8 text-lg font-semibold">Selected Tickers</h2>
<p class="text-sm text-base-content/50">Use the search to add tickers to your portfolio.</p>

<div id="tickers" class="flex flex-wrap gap-4 pt-4">
  <%= render partial: "tickers/ticker", collection: @tickers %>
</div>

<div id="count" class="px-2 pt-4">
  <%= render partial: "tickers/count", locals: { count: @count } %>
</div>

<%= form_with(model: portfolio) do |form| %>
  <% if portfolio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(portfolio.errors.count, "error") %>
        prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# TODO: cap and redistribute options here %>

  <div class="pt-8 space-y-2">
    <%= form.label :name, "Portfolio Name", class: "block text-xl font-semibold" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <% if request.path.split('/').last == "edit" %>
    <div class="pt-4"></div>
    <%= form.submit "Update Current Version", class: "btn btn-accent btn-soft" %>
    <%= render partial: "version_form", locals: { form: form, portfolio: portfolio } %>
  <% else %>
    <div class="pt-8">
      <%= form.submit "Create", class: "btn btn-accent" %>
    </div>
  <% end %>
<% end %>
