<div class="flex flex-col gap-4">
  <% if portfolio.tickers.any? %>
    <div class="flex flex-wrap gap-2 items-center">
      <% portfolio.tickers.each do |ticker| %>
        <div
          class="
            flex items-center p-2 rounded-md border shadow-md border-base-300 w-fit
          "
        >
          <p class="px-2 text-xl font-semibold shrink-0"><%= ticker %></p>

          <%= button_tag "Remove",
          type: "button",
          ticker: ticker,
          title: "Remove #{ticker}",
          data: {
            action: "click->tickers#toggle",
            tickers_tckr_param: "#{ticker}",
          },
          class: "btn btn-ghost btn-square btn-xs text-base-content/50" do %>
            <%= render "shared/icons/remove" %>
          <% end %>
        </div>
      <% end %>

      <%# TODO: "clear all tickers" button %>
      <%= button_tag "Clear", type: "button", class: "px-2 ml-2 btn btn-error btn-soft btn-square w-fit" do %>
        Clear
        <%= render "shared/icons/remove" %>
      <% end %>
    </div>
  <% else %>
    <p class="text-sm italic text-base-content/50">
      No tickers selected. Use the search bar to add tickers to your
      portfolio.
    </p>
  <% end %>
</div>
