<div class="collapse collapse-arrow">
  <input type="checkbox" checked="checked"/>
  <div
    class="mb-0 -ml-3 text-lg font-semibold  collapse-title text-base-content/75"
  >
    Version History
    <span class="ml-2 text-xs italic font-normal text-base-content/50">Click to expand and collapse.</span>
  </div>

  <div class="pl-0 collapse-content">
    <div class="space-y-2">
      <% versions = portfolio.portfolio_versions.chronological %>
      <% active_version_number =
        if defined?(viewing_version) && viewing_version.present?
          viewing_version.version_number
        else
          versions.first&.version_number
        end %>
      <% versions.each_with_index do |version, index| %>
        <% badges = [] %>
        <% if version.version_number == active_version_number %>
          <% badges << ["Active Version", "ml-1 badge badge-success badge-xs bg-success/85"] %>
        <% end %>
        <% if index == versions.length - 1 %>
          <% badges << ["Base Version", "ml-1 badge badge-primary badge-xs bg-primary/85"] %>
        <% end %>
        <div
          class="flex p-3 w-full rounded border shadow-sm  bg-base-200/25 border-base-content/10"
        >
          <div class="flex flex-col flex-1 gap-1 items-start">
            <div class="text-lg font-semibold text-base-content/75">
              Version
              <%= version.version_number %>
              <% if version.title.present? %>
                -
                <span class="text-primary"><%= version.title %></span>
              <% end %>
              <% badges.each do |label, style| %>
                <span class="<%= style %>"><%= label %></span>
              <% end %>
            </div>

            <% if version.notes.present? %>
              <div class="text-sm text-base-content/50">
                <%= version.notes %>
              </div>
            <% end %>

            <span class="text-xs text-base-content/50">
              Created
              <span class="font-semibold text-base-content/75">
                <%= version.created_at.strftime("%B %d, %Y") %>
              </span>
              at
              <span class="font-semibold text-base-content/75">
                <%= version.created_at.strftime("%I:%M %p") %>
              </span>
            </span>
          </div>

          <div class="flex h-full shrink-0">
            <%= link_to "View",
            version_portfolio_path(
              id: portfolio.id,
              version_number: version.version_number,
            ),
            class: "btn btn-accent btn-soft btn-xs" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
