<div
  class="flex justify-between items-center pt-4 text-sm text-base-content/75"
>
  <div>
    &larr;
    <%= link_to "Back to Portfolios", portfolios_path, class: "link link-hover" %>
  </div>
  <p style="color: green"><%= notice %></p>
</div>

<div class="flex flex-col gap-8 pt-4">
  <div class="flex gap-2 justify-between items-start">
    <div>
      <span class="text-lg font-semibold text-base-content/75">Portfolio Name</span>
      <span class="block text-3xl font-bold text-accent">
        <%= @portfolio.name %>
      </span>
    </div>

    <%# TODO: wrap in a form or just update content on change %>
    <div class="flex gap-2 items-center">
      <select class="mr-1 select select-ghost select-primary">
        <% for option in ["Daily", "Weekly", "Monthly"] %>
          <option <%= "selected" if option == @refresh_interval %>>
            <%# TODO: add title, datetime, etc. to option content %>
            <%= option %>
          </option>
        <% end %>
        <option selected>Latest Version</option>
      </select>

      <div>
        <%= link_to "Edit",
        edit_portfolio_path(@portfolio),
        class: "btn btn-accent btn-soft" %>
      </div>
      <div>
        <%= button_to "Destroy",
        @portfolio,
        method: :delete,
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure you want to destroy this portfolio?",
        },
        class: "btn btn-error btn-soft" %>
      </div>
    </div>
  </div>

  <div>
    <div class="text-lg font-semibold text-base-content/75">
      Tickers and Weights
      <% if @portfolio.allocations and @portfolio.allocations.values.any? { |a| a["enabled"] } %>
        <span class="ml-2 font-normal badge badge-warning badge-xs">
          Adjusted for Allocations
        </span>
      <% end %>
    </div>
    <div class="flex flex-wrap gap-4 pt-2">
      <% for ticker in @tickers %>
        <div
          class="flex gap-6 items-center p-2 max-w-xs border shadow-md  border-base-300 h-fit min-w-3xs w-fit"
        >
          <%= render partial: "weight",
          locals: {
            ticker: ticker,
            weight: @adjusted_weights[ticker.symbol],
          } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="pt-4">
    <%= render partial: "allocation", locals: { portfolio: @portfolio } %>
  </div>
</div>
