<div
  class="flex justify-between items-center pt-4 text-sm text-base-content/75"
>
  <div>
    &larr;
    <%= link_to "Back to Portfolios List", portfolios_path, class: "link link-hover" %>
  </div>
</div>

<div class="flex flex-col gap-8 pt-4">
  <header>
    <div class="flex gap-2 justify-between items-start">
      <div>
        <span class="text-lg font-semibold text-base-content/75">Portfolio Name</span>
        <span class="block text-3xl font-bold text-accent">
          <%= @portfolio.name %>
        </span>
      </div>
      <div class="flex gap-2 items-center">
        <%= link_to "Edit",
        edit_portfolio_path(@portfolio),
        class: "btn btn-accent btn-soft" %>

        <%= button_to "Delete Portfolio",
        @portfolio,
        method: :delete,
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure you want to destroy this portfolio?",
        },
        class: "btn btn-error btn-soft" %>
      </div>
    </div>

    <div class="flex gap-2 items-center pt-2">
      <label for="version_select" class="text-sm font-semibold text-base-content/75">Version:</label>
      <select
        id="version_select"
        class="max-w-lg appearance-none cursor-pointer  select select-ghost select-primary"
        onchange="if(this.value) { window.location.href = this.value; } else { window.location.href = '<%= portfolio_path(@portfolio) %>'; }"
      >
        <%= options_for_select(version_select_options(@portfolio, @viewing_version)) %>
      </select>

    </div>
  </header>

  <div
    class="px-3 pt-2 pb-4 -m-3 rounded-sm border shadow-sm  bg-base-200/25 border-base-content/10"
  >
    <div class="text-lg font-semibold text-base-content/75">
      Tickers and Weights
      <% badge_class = allocation_badge_class(@portfolio) %>
      <% if badge_class.present? %>
        <span class="ml-2 font-medium <%= badge_class %>">Adjusted for Allocations</span>
      <% end %>
    </div>
    <div class="flex flex-wrap gap-4 pt-2">
      <% for ticker in @tickers %>
        <div
          class="flex gap-6 items-center p-2 max-w-xs border shadow-md  border-base-300 h-fit min-w-3xs w-fit"
        >
          <%= render partial: "weight",
          locals: {
            ticker: ticker,
            weight: @adjusted_weights[ticker.symbol],
          } %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: "cap_and_redistribute", locals: { portfolio: @portfolio } %>

  <div
    class="px-3 pt-2 pb-4 -m-3 rounded-sm border shadow-sm  bg-base-200/25 border-base-content/10"
  >
    <%= render partial: "allocations", locals: { portfolio: @portfolio } %>
  </div>

  <%= render partial: "version_history",
  locals: {
    portfolio: @portfolio,
    viewing_version: @viewing_version,
  } %>
</div>
